*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #D6DBDF;
}
 header{
  width: : 100%;
 }
/*Primer nav*/
#nav {
      height: 40px;
      width: 100%;
      background-color: #17202A;
}

 #nav  #nav-uc li a{
      font-family: Arial;
      font-size: 14px;
      margin-right: 30px;
      color: #e1fb06;
      float: right;
      text-decoration: none;
      display: block;
      padding: 12px;
 }

 #nav  #nav-uc li a:hover{
      background-color: #34495E;
      transition: 0.5s;
      color: white;
 }

/*Segundo nav*/
.menu-bar{
  display:none;
}
 #menu {
       width: 100%;
       background-color: #34495E;
       font-family: Garamond;
       font-size: 14px;
       position: relative;
 }

 #menu  ul {
       overflow: hidden;
       list-style: none;
 }

  #menu  ul li {
       font-family: Arial;
       font-size: 16px;
       font-weight: bold;
       float: left;
  }

  #menu  ul li a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 20px;
        display: block;
}

#menu  ul li i {
      margin-right: 5px;
}

#menu  ul li a:hover{
  color: #AEB6BF;
  background-color:#17202A;
  transition: 0.5s;
}
/*carrito de compras*/
#menu > ul > a {
     float: right;
     margin-right: 70px;
     margin-top: 10px;
     font-size: 25px;
     color: #FFFFFF;
}

#menu > ul > a:hover {
    color: #CDCDCD;
}
/*acaba segundo nav*/
.slide{
    width: 1080px;
    height: 600px;
    margin: 2% auto;
    border-radius: .5em;
    box-shadow: 2px 5px 10px #888;
    position: relative;
}

.slide img{
    width: 1080px;
    height: 600px;
    position: absolute;
}

.slide .img2, .slide .img3, .slide .img4{
   display: none;
}

figure{
    margin: 0;
    }

.notaImagen{
display: inline-block;
width: 250px;
border-radius: 5px;
border: 1px solid #008080;
margin-left: 40px;
text-align: center;
padding: 10px;
transition: 0.3s;
margin: 10px;
background-color: white;
}

.notaImagen:hover{
box-shadow: 1px 1px 10px #008080;
}

.img-ni{
  margin-top: 5px;
  width: 230px;
  height: 150px;
  border-radius: 5px;
}

.texto-ni{
margin: 5px 5px 5px 5px;
font-family: Arial;
}

.boton-ni{
padding: 5px 5px 5px 5px;
background-color: #008080;
text-decoration: none;
color: #FFF;
border-radius: 5px;
font-family: Arial;
}

.boton-ni:hover{
  background-color: #0E6251;
  transition: .3s;
}

/* pie de pagina */
.pie{
  height: 40px;
  width: 100%;
  background-color: #17202A;
  font-family: Garamond;
  color: #FFFFFF;
  font-size: 14px;
  display: inline-block;
}

.copy{
text-align: left;
padding: 10px;
font-family: Arial;
font-size: 10;
}

.links{
  text-align: right;
  font-family: Arial;
  font-size: 10;
  color: white;
}

.pie1{
  height: 300px;
  width: 100%;
  background-color: #34495E;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}
/*contenido de footer*/
.servicio{
  justify-content: center;
  display: inline-table;
  width: 25%;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}

.servicio h3{
  color: #46635D;
  font-size: 20px;
  font-family: Arial;
  padding: 5px;
}

.servicio a{
  font-family: Arial;
  color: #8F9B98;
  text-decoration: none;
}

.servicio p{
font-family: Arial;
color: #8F9B98;
text-align: justify;
}

.servicio li{
font-family: Arial;
padding: 8px;
list-style: none;
}

.servicio a:hover{
color: white;
transition: .3s;
}
/* Inicia Estilos de producto */
.group {
  list-style: none;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  text-align: right;
}

.encabezado-productos{
margin: 20px;
font-family: Arial;
}

.btn {
margin: 5px 5px 5px 5px;
padding: 5px 5px 5px 5px;
border-radius: 5px;
background-color: #008080;
}

.btn:hover{
background-color: #008B8B;
}

.search{
height: 16px;
font-size: 15x;
padding: 5px;
}
/* Inicia nosotros */
.mision{
width: 40%;
padding: 10px;
margin: 50px;
border: 3px solid #008080;
border-radius: 5px;
display: inline-table;
box-shadow: 1px 1px 10px #008080;
background-color: white;
}

.mision h1{
font-family: Arial;
}

.mision p{
font-family: Arial;
text-align: justify;
}

.img-nosotros{
width: 450px;
height: 300px;
border-radius: 5px;
margin: 8px;
}
/* Inicia Contactanos */
.contacto{
height: 12px;
padding: 5px;
width: 95%;
margin: 10px;
font-family: Arial;
}

textarea{
  padding: 5px;
  margin: 10px;
  font-family: Arial;
  border-radius: 5px;
  border: 2px solid #008080;
}

.btn-enviar{
margin: 5px 5px 5px 5px;
padding: 5px 5px 5px 5px;
font-size: 14px;
font font-family: Arial;
background-color: #467C65;
color: white;
border-radius: 5px;
}

.btn_enviar:hover{
background-color: #092E1F;
}

label{
font-family: Arial;
}

.ubicacion {
list-style: none;
padding: 10px;
margin: 10px;
}

.ubicacion{
font-family: Arial;
}
/* style login*/
.login-body{
  height: 350px;
  width: 300px;
  border-radius: 5px;
  margin-top: 12%;
  margin-left: 37%;
  box-shadow: 2px 2px 5px #000000;
}

.login-head{
  height: 70px;
  width: 100%;
  background-color: #17202A;
  border-radius: 5px;
}

.login-body .login-head h3{
  color: #FFFFFF;
  font-family: sans-serif;
  text-align: center;
  padding: 25px;
}

.login-main{
  margin: 25px;
  width: 10%;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 25px;
}

.login-main input{
  height: 25px;
  margin: 8px;
  width: 235px;
}

.login-footer a{
  margin: 25px;
  text-decoration: none;
}

.login-footer a:nth-child(1){
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #CDCDCD;
  padding: 5px;
}
.login-footer a:nth-child(2){
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #CDCDCD;
  padding: 5px;
}
/*responsive mapa*/
.mapa-responsive{
 width:"500";
 height:"250";
 frameborder:"0";
 style="border:0";
}
